 <% provide(:title, "About Us" %>

 <!DOCTYPE html>
 <div class="container">

 <body>

	<div class="about row-fluid">
		<div class="span8">
		

			<%= image_tag "http://maps.google.com/maps/api/staticmap?size=580x580&sensor=false&zoom=16&markers=#{42.3616871}%2C#{-71.084176}" %>

<!-- 			<iframe width="100%" height="580" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
			src="https://maps.google.com/maps?q=60+wadsworth+st+cambridge+ma"></iframe>
 			src="http://maps.googleapis.com/maps/api/staticmap?q=60+wadsworth+st+cambridge+ma"></iframe> -->
		</div>
		<div class="span4">
			<h2>Energy Crowd</h2>
			<address>
				60 wadsworth street<br>
				Cambridge, MA<br>
				USA<br>
				02142<br>
				<abbr title="Phone">P:</abbr> 01234 567 890
			</address>
		</div>
	</div>
</body>
</div>