  <div class="accordion" id="accordion2">
    <!-- Each item should be enclosed inside the class "accordion-group". Note down the below markup. -->
	
	<h1>Frequently Asked Questions</h1>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#1">
           <!-- Title. Don't forget the <i> tag. -->
          <h5><i class="icon-plus"></i> What happens if the project doesn't hit the funding target?</h5>
        </a>
      </div>
      <div id="1" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">
           <!-- Para -->
          <p>In case the project does not meet the funding goals, the project's operators will have an additional month to secure the remaining funding.  
			 If after that time period there is still not enough funds, the funding round will be cancelled, and no money will be collected from the users.</p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#2">
           <!-- Title. Don't forget the <i> tag. -->
          <h5><i class="icon-plus"></i> How do I know the projects are legitimate?</h5>
        </a>
      </div>
      <div id="2" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">
           <!-- Para -->
          <p> As with any form of investment there is an amount of risk. However, we at ___  are putting great efforts to reduce that risk by 
			performing a screening process for every project that comes into the platform. </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#3">
           <!-- Title. Don't forget the <i> tag. -->
          <h5><i class="icon-plus"></i> How can I learn more about a project?</h5>
        </a>
      </div>
      <div id="3" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">
           <!-- Para -->
          <p>One of our main goals is to make the investment process as transparent as possible. 
		  This is why we enable all of our accredited investors to get a direct contact line to the project's managers. </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#4">
           <!-- Title. Don't forget the <i> tag. -->
          <h5><i class="icon-plus"></i> What happens if I change my mind during the time-frame of the project?</h5>
        </a>
      </div>
      <div id="4" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">
           <!-- Para -->
          <p>Energy project investments are long term investments by nature.  We are aware of the fact that financial situations my change during this long time frame,
				and are currently working on a secondary market that will all investors to sell their investment.  The time-frame for this market is still TBD.</p>
               </div>
             </div>
           </div>  

  <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#3">
           <!-- Title. Don't forget the <i> tag. -->
          <h5><i class="icon-plus"></i> Are the interest rates the same for all the investors of the same project?</h5>
        </a>
      </div>
      <div id="3" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">
           <!-- Para -->
          <p>For some projects, the project managers may decide to give better rates for early-bird investors. 
			 We strongly recommend to define a mail agnt in the site that will inform users of projects that may interest them.</p>
        </div>
      </div>
    </div>
	
  </div>