  <div class="accordion" id="accordion2">
    <!-- Each item should be enclosed inside the class "accordion-group". Note down the below markup. -->
 
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#1">
           <!-- Title. Don't forget the <i> tag. -->
          <h5><i class="icon-plus"></i> What happens if the project doesn't hit the funding target?</h5>
        </a>
      </div>
      <div id="1" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">
           <!-- Para -->
          <p>In case the project does not meet the funding goals, the project's operators will have an additional month to secure the remaining funding.  
			 If after that time period there is still not enough funds, the funding round will be cancelled, and no money will be collected from the users.</p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#2">
           <!-- Title. Don't forget the <i> tag. -->
          <h5><i class="icon-plus"></i> How do I know the projects are legitimate?</h5>
        </a>
      </div>
      <div id="2" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">
           <!-- Para -->
          <p> As with any form of investment there is an amount of risk. However, we at ___  are putting great efforts to reduce that risk by 
			performing a screening process for every project that comes into the platform. </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#3">
           <!-- Title. Don't forget the <i> tag. -->
          <h5><i class="icon-plus"></i> Why do we use it?</h5>
        </a>
      </div>
      <div id="3" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">
           <!-- Para -->
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#4">
           <!-- Title. Don't forget the <i> tag. -->
          <h5><i class="icon-plus"></i> Where can I get Some?</h5>
        </a>
      </div>
      <div id="4" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">
           <!-- Para -->
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
               </div>
             </div>
           </div>                   
               </div>