 <!DOCTYPE html>


<body>

	 <div class="row-fluid lower_body">

		<div class="span3">   
			 	<h1>New Delhi Power</h1>
                   <img src="../assets/recycle_1.jpg" alt="some great picture of trash">
		 </div>
		 <div class="project-description span6">   
			
                <p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra dolor augue, a faucibus elit sagittis et. Quisque a dui suscipit, 
						 fermentum nunc eu, auctor mauris. Morbi sed nisl sit amet purus aliquet venenatis. Pellentesque quis augue tellus. 
						 Nulla elementum malesuada orci, quis commodo purus tincidunt sit amet. Integer viverra tortor blandit orci tempus, 
						 sit amet pharetra nibh fermentum. Etiam tincidunt ultrices quam, varius feugiat diam gravida a. Vestibulum feugiat 
						
					
				</p>
					<div>
								<h4>Received $2,000,000</h4>
								<h5>100% funded</h5>
								<div class="progress">
									<div class="bar" style="width: 100%;"></div>
								</div>
								<table class="table table-striped table-condensed">
										<tbody>
											  <tr>
													<td>Expected annual return</td>
													<td>7%</td>
											  </tr>	
											   <tr>
													<td>Number of months of return</td>
													<td>180</td>
											  </tr>	
											   <tr>
													<td>Date of first payment</td>
													<td>Jul. 7th 2014</td>
											  </tr>	
											   <tr>
													<td>Legal documents</td>
													<td><%= link_to "Legals" , "#" %></td>
											  </tr>	
											  <tr>
													<td>Company website</td>
													<td><%= link_to "wwww.india-grey-gold.com" , "#" %></td>
											  </tr>	
											  <tr>
													<td>Contact Company </td>
													<td><td><a href="static_pages/contact_company" class="btn"><i class="icon-envelope"></i></a></td></td>
											  </tr>	
									
										
										</tbody>
									  </table>
									  
									  <div class="empty-space"></div>
									  
					</div>
											
					
							 
		 </div>
	 </div>
	 
	
	
</body>

    
