 <!DOCTYPE html>


<body>

	 <div class="row-fluid lower_body">

		<div class="span3">   
			 	<h1>SolarCorp</h1>
                   <img src="../assets/suncomp.jpg" alt="some great picture of solar">
		 </div>
		 <div class="company-description span6">   
			
                <p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra dolor augue, a faucibus elit sagittis et. Quisque a dui suscipit, 
						 fermentum nunc eu, auctor mauris. Morbi sed nisl sit amet purus aliquet venenatis. Pellentesque quis augue tellus. 
						 Nulla elementum malesuada orci, quis commodo purus tincidunt sit amet. Integer viverra tortor blandit orci tempus, 
						 sit amet pharetra nibh fermentum. Etiam tincidunt ultrices quam, varius feugiat diam gravida a. Vestibulum feugiat 
						 urna sit amet quam tempor tincidunt. Proin at condimentum arcu. Vestibulum vitae sem vel neque cursus porttitor sit 
						 amet in ligula. Proin in elit ac purus aliquet vulputate. Phasellus faucibus libero id tortor vestibulum, et cursus magna luctus. 
						 Nam massa nibh, consectetur ut augue non, lobortis cursus mi. Proin tempor ligula mauris, ut semper orci tempor non. Nulla facilisi.
						 <br>						 <br>

						Aenean accumsan velit nulla, ultrices viverra ligula condimentum in. Pellentesque quam lacus, venenatis id augue et, 
						imperdiet faucibus turpis. Etiam egestas feugiat odio, a feugiat est ullamcorper sed. Proin rutrum enim id velit bibendum aliquam. 
						Fusce vel accumsan felis. Quisque feugiat pellentesque eros at dapibus. Praesent eget ante sit amet nibh sollicitudin facilisis.
					
				</p>
                
		 </div>
	 </div>
	 
	  <ul class="projects">
		 <h3> Recent projects </h3>
         <li>
			<img src="../assets/cat1.jpg" alt="some great picture of a cat" height="62" width="62">
			<%= link_to "Newfort solar panels", projects_path %>
		</li>
		<li>
		 	<img src="../assets/cat3.jpg" alt="some great picture of a cat" height="62" width="62">   
			<%= link_to "EastFort dessert solar farm", projects_path %>
		 </li>
	</ul>
	
</body>

    
