<!DOCTYPE html>


<body>
	<style>
		background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSF7Wp6EeOa1Eb0Cq9rnsCFYfJbeJcu0MwAF0-vTzlstVoub4Nu8w");
	</style>

	<div class="Main_Massage">
        <h1>Energy projects financial matching</h1>
        <p class="lead">
			Matching between project in need of funding and investors looking to broaden their portfolio
		</p>
        <a class="btn btn-large btn-success" href="#">Get started today</a>
		<br> Already a member - sign in <%= link_to "here", home_path %>
      </div>

	 <div class="row-fluid lower_body">
		 
		 <div class="span6">
			<h2>Investor tools</h2>
			<p>
			
			</p>
		 </div>
		 <div class="span6">
			<h2>What are the risks</h2>
			<p>
				Nam fringilla aliquam porta. Sed pulvinar pellentesque odio, sit amet condimentum mauris pellentesque pharetra. 
				Nam molestie lacus nulla, id tincidunt leo posuere non. Vestibulum euismod ligula vitae mi feugiat, quis aliquet 
				nisl consectetur. Integer rhoncus sollicitudin leo sed tempor. Sed rhoncus eu enim sit amet ullamcorper. Sed at urna dui.
				Etiam eget ultricies leo, at tempor arcu. Pellentesque sollicitudin placerat justo eget vulputate. In mollis ligula quam,
				at accumsan sem sollicitudin id. Fusce fringilla magna urna, at mollis lectus hendrerit vitae. Aliquam placerat turpis 
				eget sem sagittis lobortis. 
				Phasellus venenatis mattis dolor, et hendrerit massa commodo eu. Ut rutrum ligula sed risus auctor, vel condimentum eros blandit.
			</p>
		 </div>
		
		
	 </div>

   
</body>
 
	
	  