
 <div class = "map_info_container">

	<% if project %>
		
		<%= link_to project.name, {:controller => "projects", :action => "show", :selected_id => project.id} %>
		<% remaining_time = project.end_date.to_date - Date.today %>
		<br>					
		<% if (project.percent_funded*100 < 100) && (remaining_time > 0) %>
			<span class="label label-success">Open</span>
			<%= remaining_time.to_i %> days left
			
		<% else %>		 
			<span class="label label-important">Closed</span>
		<% end %>	
		<br>	
		<hr class="soften" id="soften-map-info" />
			<%= project.description %>
	<% end %>
</div>	

