<!DOCTYPE html>

 <div class="row-fluid invest_page">
	<p> <br><br> <br> </p>
	<%= form_tag(:controller => "relationships", :action => "create",  :selected_id => @project.id ) do  %>
			<%= text_field_tag "investment" %>
			 <%= submit_tag 'Submit' %>
			<!-- <input type="investment" name="investment">
			<div><%= submit_tag 'Submit', class: "btn btn-large btn-primary" %></div> -->
	<% end %>
</div>

