<!DOCTYPE html>


<body>
	<style>
		background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSF7Wp6EeOa1Eb0Cq9rnsCFYfJbeJcu0MwAF0-vTzlstVoub4Nu8w");
	</style>

	<div class="Main_Massage">
        <h1>Welcome to Crowdfunding energy projects</h1>
        <a class="btn btn-large btn-success" href="#">A new investor</a> 
		<a class="btn btn-large btn-success" href="#">A new funds-seeker</a> 
		<br> Already a member - sign in <%= link_to "here", home_path %>
      </div>
	  
	 <div class="row-fluid lower_body">
		 
		 <div class="span4">
			<h2>How to choose the right project for me</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eros neque, dignissim quis arcu nec, 
				sollicitudin rhoncus est. Vivamus tellus magna, semper id sem id, aliquam iaculis tellus. In vulputate 
				velit ac lorem tristique, in ultrices ligula mollis. Vivamus blandit nulla in adipiscing varius. 
				Cras vestibulum tellus in sagittis facilisis. Maecenas consectetur aliquet felis, sit amet tempor magna auctor id. 
				Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
			</p>
		 </div>
		 <div class="span4">
			<h2>What are the risks</h2>
			<p>
				Nam fringilla aliquam porta. Sed pulvinar pellentesque odio, sit amet condimentum mauris pellentesque pharetra. 
				Nam molestie lacus nulla, id tincidunt leo posuere non. Vestibulum euismod ligula vitae mi feugiat, quis aliquet 
				nisl consectetur. Integer rhoncus sollicitudin leo sed tempor. Sed rhoncus eu enim sit amet ullamcorper. Sed at urna dui.
				Etiam eget ultricies leo, at tempor arcu. Pellentesque sollicitudin placerat justo eget vulputate. In mollis ligula quam,
				at accumsan sem sollicitudin id. Fusce fringilla magna urna, at mollis lectus hendrerit vitae. Aliquam placerat turpis 
				eget sem sagittis lobortis. 
				Phasellus venenatis mattis dolor, et hendrerit massa commodo eu. Ut rutrum ligula sed risus auctor, vel condimentum eros blandit.
			</p>
		 </div>
		 <div class="span4">
			<h2>Recent success stories</h2>
			<p>
				Nam purus nisl, pellentesque eu eleifend eget, consequat vitae dui. In pellentesque, lacus nec vehicula hendrerit, 
				lorem tellus rutrum sem, sit amet cursus velit magna quis turpis. Curabitur pellentesque, leo vitae fringilla fringilla,
				sapien velit ultrices tortor, vel feugiat lacus justo ac odio. Duis et tortor augue. Etiam nec pharetra felis. 
				Mauris vehicula scelerisque euismod. Praesent porta, nisl ut convallis pellentesque, lectus nulla accumsan nisl, 
				ac viverra dui dui non purus.
			</p>
		 </div>
	 </div>

   
</body>
 
	
	  